// ========================================================================
// Variable
// ======================================================================== /
@font_title_site: "Montez", Verdana, Geneva, sans-serif;
@font_body: "Source Sans Pro", Verdana, Geneva, sans-serif;
@font_heading: "Montserrat", sans-serif;

// color
@w: #FFFFFF;

// ========================================================================
// Google Font Inport
// ======================================================================== /
@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// @import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
// @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

/* ----------------------------------------------------------------------------
 * Global Style
 * -------------------------------------------------------------------------- */
html, body{
   font-size: 10px;
}


body #skin_wrapper{
   font: normal 15px/1.5 @font_body;
   letter-spacing: 0.5px;
   // background-image: url('images/background.jpg');
   background-repeat: repeat;
}

a{

}

/* ----------------------------------------------------------------------------
 * Main Header Style
 * -------------------------------------------------------------------------- */
#main-header{
   padding: 35px 0;
   margin-top: -16px;
}

.evo_container__header {
	// margin-bottom: 15px;

   .widget_core_coll_title{
      h1{
         margin-top: 0;
         margin-bottom: 0;

         a{
            font-family: @font_title_site;
            font-size: 5.5rem;
            // font-weight: 700;
            letter-spacing: 0px;

            &:hover, &:active, &:focus{
               text-decoration: none;
            }
         }
      }
   }

   .widget_core_coll_tagline{
      font-size: 1.3rem;
      font-style: italic;
      font-family: @font_heading;
      font-weight: 400;
      line-height: 1;
   }

}

.evo_container__page_top {
	margin-top: 20px;
	.ufld_icon_links {
		text-align: center;
	}
}

/* Navbar Style
   ========================================================================== */
.navbar-header{
   height: 60px;
   .navbar-toggle{
      margin-top: 15px;
      border-color: @w;
   }
   .icon-bar{
      background-color: @w;
   }
}

#hamburger-menu{
   display: none;
   @media screen and ( max-width: 768px ){
      display: block;
   }
}

.navbar-collapse{

   @media screen and ( max-width: 768px ) {
      padding-left: 0;
      padding-right: 0;
      margin-top: 15px;
   }

   .nav.nav-tabs {
   	margin: 0;
      float: right;
      border-bottom: none;

      li{

         a{
            font-family: @font_heading;
            font-size: 1.4rem;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            // letter-spacing: 1px;
            padding: 20px 12px;
            opacity: 0.95;

            &:hover, &:active, &:focus{
               background-color: transparent;
               border-color: transparent;
               opacity: 1;
            }

            &.selected{
               background: transparent;
               border: 0;
               opacity: 1;
            }
         }
      }

      @media screen and ( max-width: 768px ) {
         float: none;

         & > li {
            float: none;
            margin: 0;
            width: 100%;
         }

         li {
            display: block;

            a{
               padding: 10px 0;
            }
         }
      }

   }

   &.collapse.in {

   }

}


/* ----------------------------------------------------------------------------
 * Head Tagline Style
 * -------------------------------------------------------------------------- */
#head_tagline{
   padding: 50px 0;
   border-top: 1px solid #4C4C4C;

   .widget_core_coll_tagline{
      font-family: @font_body;
      font-size: 3rem;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1;
   }
}


/* ----------------------------------------------------------------------------
 * # Content Styling
 * -------------------------------------------------------------------------- */
#content{
   margin-top: 50px;

   /* Content Block Styling
      ========================================================================== */
   main > .evo_content_block{
      margin-bottom: 30px;
      box-shadow: 0 1px 3px rgba(185, 185, 185, 0.6);
   }

   .evo_intro_post{
      padding: 10px 30px 20px;
      background: @w;
      border: 0;
      box-shadow: none;
   }

   .evo_post{
      padding: 15px 30px;

      .evo_post_title{
         font-family: @font_heading;

         h2{
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: uppercase;
            // letter-spacing: 0;

            a{
               color: #6B6B6B;
               
               &:hover{
                  text-decoration: none;
               }
            }
         }
      }
   }

}


/* ----------------------------------------------------------------------------
 * Sidebar Styling
 * -------------------------------------------------------------------------- */
#main-sidebar{

   .evo_widget{
      padding: 15px;
      box-shadow: 0 1px 3px rgba(185, 185, 185, 0.6);
      border: none;
      border-radius: 0;
      margin-bottom: 30px;

      .panel-heading{
         background-color: transparent;
         border: none;

         .panel-title{
            font-family: @font_heading;
            font-size: 1.6rem;
            font-weight: 700;
            color: #6B6B6B;
            text-transform: uppercase;
            letter-spacing: 0;
         }
      }
   }

}

// Intro post - Featured post background images sample
// .well {
// 	background: url(images/7T0W8MYRN0.jpg) no-repeat center center;
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover;
// 	width: 100%;
// 	height: auto;
// }

// Login widget form
.widget_core_user_login {
	#login_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_login_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
	.register_link {
		display: block;
		padding-top: 10px;
	}
}

// Register widget form
.widget_core_user_register {
	#register_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_register_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
}

// Profile tabs on ?disp=profile
ul.profile_tabs {
	margin: 0 2ex 2ex;
	position: relative;
	top: 1px;
}

.profile_avatar {
	float: right;
	padding: 10px;
	margin-left: 10px;
}

// Use full width for all textarea
.form-horizontal .controls textarea.form-control {
	width: 100%;
}

// A search button
input.search_field {
	margin-bottom: 0;
	display: inline-block;
}
form.search .search_options {
	width: 100%;
	.search_option input {
		margin-right: 5px;
	}
	.search_option label {
		margin-bottom: 0;
		margin-top: 5px;
	}
}
div.compact_search_form {
	input.search_field {
		width: 100%;
		margin: 0;
	}
}
div.extended_search_form {
	text-align: center;
	margin: 0 auto 2em auto;
	max-width: 530px;
	.search_options {
		text-align: center;
		.search_option {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

// Table for select categories of item
table.catselect {
	input#new_category_name {
		width: 98% !important;
	}
}

// Form elements on item edit page
label.control-label[for=post_title] {
	width: auto;
}

// A form to create a new message/thread
textarea.message_text {
	width: 95%;
}

// Links disp=comment
.evo_comment_title a, .pull-right .evo_comment_type {
	color: #337ab7;
}

.evo_post {
	margin-bottom: 2em;
	.small.text-muted {
		margin: 4px 0 10px;
		a, a .glyphicon {
			color: inherit;
		}
	}
// MILOS > @fp - This makes both "Comments" and "Full Story" button are displayed inline
//	.more_link_button, .post_comments_link {
//		display: inline-block;
//		margin-right: 5px;
//	}
}

div.bSideItem {
	background: #F7F5FA;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	h4 {
		margin-top: 0;
	}
}

// Login/Register forms:
.skin-form {
	.panel-body {
		.panel {
			border: none;
			box-shadow: none;
		}
		.panel-body {
			padding: 0;
		}
	}
	.fieldset {
		margin: 0;
		div.input {
			margin: 0;
		}
	}
	.control-buttons, div.input {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}
.evo_panel__login, .evo_panel__lostpass, .evo_panel__register, .evo_panel__activation {
	min-width: 290px;
	margin: 1.5em auto auto;
	.panel {
		margin: 5px 0;
	}
	.panel-body {
		padding-top: 20px;
		padding-bottom: 0;
	}
}
.evo_panel__login {
	max-width: 400px;
}
.evo_panel__lostpass {
	max-width: 480px;
	#ffield_x label {
		display: none;
	}
}
.evo_panel__activation {
	max-width: 530px;
	#activateinfo_form .control-buttons{
		text-align: left;
	}
}
.evo_panel__register {
	max-width: 580px;
	.control-buttons{
		text-align: left;
	}
	&.register-disabled {
		width: 350px;
	}
	.form-control {
		&#country, &#u {
			width: 100%;
		}
	}
}
.evo_form__login_links {
	padding: 0 5px;
	font-size: 92%;
}
.evo_form__login {
	fieldset {
		margin-bottom: 20px;
	}
	.controls {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.control-buttons {
		margin-left: 0;
	}
	input.form-control[type=text], input.form-control[type=password] {
		width: 100%;
	}
	.btn {
		margin-top: 5px;
	}
}
#login_form {
	.control-buttons {
		text-align: left;
	}
}
.standard_login_link {
	text-align: center;
	margin: 3em 0 1ex 0;
}
.form_footer_notes {
	margin-top: 0;
}

/* ----------------------------------------------------------------------------
 * Pagination
 * -------------------------------------------------------------------------- */
.pagination {
	margin: 0 0 30px;
   font-family: @font_heading;

   li {
      margin: 2px 0;

      & > a, & > span {
         display: inline-block;
         border: 0;
         border-radius: 0 !important;

         // &:hover, &:active, &:focus {
         //    color: @w;
         // }
      }

      a, span{
         padding: 10px 18px;
         float: none;
      }

      &.active {
         font-weight: 700;
      }
   }
}

// Messages
div.action_messages, div.log_container {
	margin: 0;
}

// Positions on the action buttons near page titles
.evo_post_title {
	display: table;
	h2 {
		display: table-cell;
		margin: 0;
		padding: 20px 0 10px;
	}
	.btn-group {
		display: table-cell;
		padding: 20px 0 10px 30px;
		vertical-align: middle;
	}
}

// This skin needs this for disp=posts to separate from lower pagination
footer.row {
	margin-top: 20px;
}


/* ----------------------------------------------------------------------------
 * Footer Styling
 * -------------------------------------------------------------------------- */
#main-footer{
   padding: 50px 0;
   margin-top: 50px;
}
