/* ----------------------------------------------------------------------------
 * # Content Styling
 * -------------------------------------------------------------------------- */
#content {
   margin-top: 5rem;

   @media screen and ( max-width: @MX ) {
      margin-top: 3rem;
   }

   // Global Widget Main Content
   // ======================================================================== /
   .evo_widget {
      padding: 3rem;
      margin-bottom: 3rem;
      color: @color_content;
      background-color: @w;
      box-shadow: @box-shadow;

      // List Style
      // ======================================================================== /
      ul{

         li{
            border-bottom: 1px solid @color_border;
         }

         & > ul > li:last-child {
            border-bottom: 1px solid @color_border;
         }

         & > li:last-child{
            border-bottom: 0;
         }

      }

   }
   // End .evo_widget
}


#main-content{

   // Content Block Styling
   // ======================================================================== /
   .evo_content_block{
      background-color: @w;
      margin-bottom: 3rem;

      @media screen and ( max-width: @MX ) {
         margin-bottom: 2rem;
      }
   }

   // Title Head Post
   // ======================================================================== /
   .title_head_post {
      font-family: @font_heading;
      font-weight: 700;
      background-color: @w;
      margin-top: 0;
      margin-bottom: 3rem;
      padding: 2.5rem 3rem;
      box-shadow: @box-shadow;
   }

   // Evo Post Title
   // ======================================================================== /
   .evo_post_title{
      display: block;

      h1, h2, h3{
         display: inline-block;
         font-size: 3rem;
         text-transform: capitalize;
         padding: 0;
         // margin-bottom: 5px;

         @media screen and ( max-width: @XS ) {
            font-size: 2.6rem;
         }

         a{
            color: @c5;

            &:hover{
               text-decoration: none;
            }
         }
      }

   }

   // Intro Post Style
   // ======================================================================== /
   .evo_intro_post, .featurepost{
      padding: 2rem 3rem 1.5rem;
      background: @primary;
      color: @w;
      border: 0;
      box-shadow: none;
      border-radius: 0;

      .evo_post_title {
         display: table;
         margin-bottom: 2.5rem;

         h2 {
            position: relative;
            display: inline-block;
            color: @w;

            &:after {
               content: '';
               position: absolute;
               left: 0;
               bottom: -5px;
               width: 40%;
               height: 2px;
               background-color: @w;
            }
         }

         .btn {
            font-size: 1.1rem;
            border-color: @w;
            border-radius: 2px;
            color: @c3;

            &:hover, &:active, &:focus {
               background-color: @w;
               box-shadow: none;
            }
         }
      }

      a, .evo_post__full .evo_post__full_text, .post_comments_link a {
         color: @w;
      }

   }

   // Evo Post Global Style
   // ======================================================================== /
   .evo_post__full_text, .evo_post__excerpt_text {
      font-size: 1.5rem;
      letter-spacing: 0.2px;
      color: @color_content;

      @media screen and ( max-width: @S ) {
         font-size: 1.4rem;
      }
   }

   // Post Styling
   // ======================================================================== /
   .evo_post,
   .evo_featured_post {
   	margin-bottom: 3rem;
      padding: 2.5rem 3rem 2rem;
      box-shadow: @box-shadow;

      @media screen and ( max-width: @S ) {
         padding: 2rem 2rem 1.5rem;
      }

      // Evo Post Image and Gallery Before Title
      // ======================================================================== /
      .evo_image_block, .evo_post_gallery__image {
            position: relative;
            overflow: hidden;

         a {

            &::before, &::after {
               position: absolute;
               transition: all 0.32s ease-in-out;

               visibility: hidden;
               opacity: 0;
            }

            &::before {
               content: '';
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               background-color: rgba(0, 0, 0, 0.5);
            }

            &::after {
               content: "\f0b2";
               position: absolute;
               margin: 0 auto;
               text-align: center;
               left: 0;
               right: 0;
               top: 45%;
               width: 45px;
               height: 45px;
               line-height: 46px;
               color: @c3;
               background-color: @w;
               border-radius: 100%;

               display: inline-block;
               font-family: FontAwesome;
               font-size: 1.7rem;
               text-rendering: auto;
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale;
            }
         }

         &:hover {
            a {

               &::before, &::after {
                  visibility: visible;
                  opacity: 1;
               }
            }
         }

      }

      // Custom evo Post Images style
      // ======================================================================== /
      .evo_post_images{
         display: block;
         text-align: center;

         img {
            border-radius: 0;
         }

      }

      // Evo Image Block Global Style
      // ======================================================================== /
      .evo_image_block {
         display: table;
         margin-left: auto;
         margin-right: auto;

         img {
            border-radius: 0;
         }

         a {

            &::after {
               border-radius: 100%;
               transform: scale(0) rotateZ(180deg);
            }
         }

         // Image Captain Style
         // ======================================================================== /
         .evo_image_legend {
            position: absolute;
            bottom: 0;
            left: -100%;
            color: @w;
            background-color: rgba(0, 0, 0, 0.35);
            padding: 10px 15px;
            transition: all 0.32s ease-in-out;
         }

         &:hover {
            a {

               &::after {
                  transform: scale(1) rotateZ(0deg);
               }

            }

            .evo_image_legend {
               left: 0;
            }
         }

      }

      // Gallery STyle Hover
      // ======================================================================== /
      .bGallery{
         margin-top: -13px;
      }

      .bGallery, .evo_post_gallery {

         .evo_post_gallery__image {
            float: left;
            margin: 0 12px 12px 0;

            a {

               &::before {
                  border-radius: 3px;
               }

               &::after {
                  top: 35%;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  font-size: 1.5rem;
                  color: @w;
                  background-color: transparent;
                  // color: @c3;
                  transform: rotateZ(120deg);
               }

            }

            &:hover {
               a {
                  &::after {
                     transform: rotateZ(0deg);
                  }
               }
            }

         }

         img {
            border-radius: 3px;
         }
      }

      // Text Muted
      // ======================================================================== /
      .small.text-muted {
         font-family: @font_heading;
         font-size: 1.125rem;
         font-weight: 700;
         text-transform: uppercase;
         margin: 0 0 1rem;

         a, a .glyphicon {
            color: inherit;
         }

         span, a{
            color: @ca9;
            // font-weight: 400;
         }

         a {
            &:hover {
               color: @primary;
            }
         }
      }

      // Evo Post Full
      // ======================================================================== /
      .evo_post__full, .evo_post__excerpt {

         .evo_post__full_text{
            padding: 1rem 0;
         }

         // Typograpy
         // ======================================================================== /
         h1, h2, h3, h4, h5, h6 {
            font-family: @font_heading;
            font-weight: 700;
            letter-spacing: 0;
            padding-top: 5px;
            margin-bottom: 5px;
         }

         p {
            margin: 0 0 1.5rem;
         }

         ul, ol {
            margin: 0 0 1.5rem 2.5rem;

            & ul {
               margin-bottom: 0;
            }

            li {
               padding: 4px 0;

               p {
                  margin-bottom: 5px;
               }

            }

         }

         pre {
            border-radius: 3px;
            padding: 1.5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            background-color: @cf7;
            border-color: @cd;
         }

         blockquote {
            margin: 1.5rem 0;
            font-size: 1.8rem;
            line-height: 1.3;
            font-style: italic;

            p {
               margin-bottom: 0;
            }
         }

         // Video Blog Style
         // ======================================================================== /
         .videoblock {

            iframe {
               min-width: 100%;
               width: 100%;
               height: 300px;

               @media screen and ( max-width: @S ) {
                  height: 280px;
               }
            }

         }

         // More Link Style
         // ======================================================================== /
         .evo_post_more_link, .evo_post__excerpt_more_link{
            background: @c3;
            display: inline-block;
            margin: 1rem 0 2rem;

            a {
               display: block;
               color: @w;
               font-size: 1.4rem;
               font-family: @font_heading;
               font-weight: 400;
               text-transform: capitalize;
               padding: 1rem 2rem 1rem 1.5rem;
               transition: all 0.2s ease-in-out;

               .fa {
                  position: relative;
                  left: 0;
                  transition: all 0.2s ease-in-out;
               }

               &:hover, &:active, &:focus{
                  text-decoration: none;
                  background: @primary;

                  .fa {
                     left: 8px;
                  }
               }

            }

         }

         .evo_post__excerpt_more_link  {
            display: table;
            margin: 2rem 0 2.5rem;
         }


      }

      // Post Comments Link
      // ======================================================================== /
      .post_comments_link{

         a{
            font-family: @font_heading;
            font-size: 1.4rem;
         }

      }

   }

   // Post Tags
   // ======================================================================== /
   .post_tags{
       margin-top: 0;

      a{
         font-family: @font_heading;
         text-transform: capitalize;
         font-size: 1.1rem;
         padding: 4px 8px;
         background: #F1F1F1;
         color: #AAAAAA;
         transition: all 0.2s ease;

         &, &::before{
            transition: all 0.3s ease;
         }

         &:hover, &:active, &:focus {
            background: @primary;
            color: @w;

            &::before{
               color: @w;
            }

         }

      }

   }

}

// Video Iframe Style
// ======================================================================== /
.col-md-12 #main-content {
   .videoblock {
      iframe {
         @media screen and ( min-width: @ML ){
            height: 420px !important;
         }
      }
   }
}


// Evo Comment
// ======================================================================== /
.evo_comment,
.evo_comment__preview {
   position: relative;
   margin-bottom: 2.5rem;
   padding: 2rem;
   border: 1px solid @color_border;
   min-height: 145px;

   .evo_comment_title,
   .evo_comment_info,
   .evo_comment_footer,
   .evo_comment_rating,
   .evo_comment_text {
      @media screen and ( min-width: @MX ) {
         margin-left: 140px;
      }
   }

   .evo_comment_rating,
   .evo_comment_text {
      @media screen and ( max-width:  @MX ) {
         margin-left: 95px;
      }

      @media screen and ( max-width: @S ) {
         margin-left: 80px;
      }

      @media screen and ( max-width: @XS ) {
         margin-left: 0;
      }

   }

   // Title Comment List
   // ======================================================================== /
   .evo_comment_title {
      font-family: @font_heading;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0;

      a, span {
         &:hover {
            cursor: pointer;
         }
      }

      a {
         color: @c5;

         &:hover {
            color: @primary;
            background-color: transparent;
         }
      }

      // Hide User Member Status
      .bUser-member-tag {
         display: none;
      }
   }

   // Comment Info
   // ======================================================================== /
   .evo_comment_info {
      font-family: @font_heading;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 1rem;

      .delete_link, .edit_link {
         font-size: 1.1rem;
         color: @ca9;
         font-weight: 700;

         &:hover, &:active, &:focus {
            color: @primary;
         }

         span.fa {
            font-size: 1.2rem;
         }
      }
   }

   // Image Avatar Style
   // ======================================================================== /
   .evo_comment_avatar {
      position: absolute;
      top: 22px;

      @media screen and ( max-width: @MX ) {
         position: relative;
         float: none;
      }

      img {
         max-width: 100px;
         max-height: 100px;
         width: 100%;
         height: 100%;
         border-radius: 0;
         padding: 4px;
         margin: 0;
         border: 1px solid @color_border;

         @media screen and ( max-width: @MX ) {
            margin-top: 4px;
            max-width: 80px;
            min-height: 80px;
         }

         @media screen and ( max-width: @S ) {
            max-width: 65px;
            min-height: 65px;
         }

         @media screen and ( max-width: @XS ) {
            display: none;
         }
      }

      &::after {
         content: '';
         position: absolute;
         right: -20px;
         width: 1px;
         height: 100%;
         background-color: @color_border;

      }

   }

   // Rating Post
   // ======================================================================== /
   .evo_comment_rating {
      margin-bottom: 5px;
      margin-top: 0;
   }

   // Evo Commnet Text
   // ======================================================================== /
   .evo_comment_text {
      font-size: 1.4rem;
      line-height: 1.4;

      p {
         margin-bottom: 8px;

         &::last-child {
            margin-bottom: 0;
         }
      }
   }

}


// Comment Form
// ======================================================================== /
#comment_form {
   border-radius: 0;
   border-color: @color_border;
   margin-top: 5px;

   .panel-heading {
      border-color: @color_border;
   }

   .panel-title {
      color: @c5;
      text-transform: uppercase;
   }

   .panel-body {
      padding-top: 3rem;
   }

   .evo_form {

      label {
         font-family: @font_heading;
         color: @c5;
      }

      .form_text_input, .form_textarea_input {
         border-radius: 0;
         border-color: @cd;
         box-shadow: none;

         &:focus, &:focus, &:active {
            border-color: @primary;
            outline: none;
         }
      }

      // Button Style
      // ======================================================================== /
      .preview, .submit {
         border-radius: 2px;
         font-family: @font_heading;
         font-size: 1.3rem;
         box-shadow: none;
         padding: 10px 12px;
         transition: all 0.2s ease-in-out;

         &:hover, &:active, &:focus {
            outline: none;
         }
      }

      .preview {
         background-color: #5BDCC3;
         border-color: #5BDCC3;

         &:hover, &:focus, &:active {
            background-color: @primary;
            border-color: @primary;
         }
      }

      .submit {
         background-color: @primary;
         border-color: @primary;

         &:hover, &:focus, &:active {
            background-color: @c3;
            border-color: @c3;
         }
      }

   }

} // End .comment form


// Comment Notif
// ======================================================================== /
.evo_post_comment_notification {
   font-size: 1.3rem;
   .btn {
      font-size: 1.2rem;
      transition: all 0.2s ease-in-out;

      &:hover, &:active, &:focus {
         background-color: @primary;
         border-color: @primary;
         color: @w;
         box-shadow: none;
      }

   }
}

.evo_post_feedback_feed_msg {
   a {
      font-size: 1.3rem;
   }
}

// ======================================================================== /
// Message Nothing
// ======================================================================== /
.msg_nothing {
   padding: 30px;
   margin-bottom: 30px;
   background-color: @w;
   box-shadow: @box-shadow;
}


// ======================================================================== /
// Pagination
// ======================================================================== /
.pagination {
	margin: -0.5rem 0 2rem;
   font-size: 1.3rem;
   font-family: @font_heading;
   font-weight: 700;

   li {
      float: left;
      margin: 0 2px;

      & > a, & > span {
         display: inline-block;
         border: 0;
         border-radius: 0 !important;
      }

      a, span{
         padding: 1rem 1.8rem;
         float: none;
         color: @w;
         transition: all 0.2s ease-in-out;
         box-shadow: @box-shadow;
         background-color: @c3;

         &:hover, &:active, &:focus {
            background-color: @primary;
            color: @w;
         }
      }

      &.active {
         font-weight: 700;
      }
   }
}
