// Style for Disp Posts
// ======================================================================== /
.disp_posts {

   // Title Head Post
   // ======================================================================== /
   .title_head_post {
      font-family: @font_heading;
      font-weight: 700;
      background-color: @w;
      margin-top: 0;
      margin-bottom: 3rem;
      padding: 2.5rem 3rem;
      box-shadow: @box-shadow;
   }

   #content {

      // Evo Post Style
      // ======================================================================== /
      .evo_post {

         // Post Image with full content
         // ======================================================================== /
         .evo_post_images {
            display: block;
            margin-bottom: 25px;

            img {
               border-radius: 0;
            }

            .evo_image_block {
               margin-top: -25px;
               margin-left: -30px;
               margin-right: -30px;
            }

         }

      }

   }

}
