// Style for Disp Posts
// ======================================================================== /
.disp_posts {

   // Title Head Post
   // ======================================================================== /
   .title_head_post {
      font-family: @font_heading;
      font-weight: 700;
      background-color: @w;
      margin-top: 0;
      margin-bottom: 3rem;
      padding: 2.5rem 3rem;
      box-shadow: @box-shadow;
   }

   #content {

      // Evo Featured Post
      // ======================================================================== /
      .evo_featured_post {
         background-color: @w;
         border-radius: 0;
         border: 0;
         box-shadow: none;
         border-left: 10px solid @primary;

         .evo_image_block {
            margin-top: -30px;
            margin-left: -40px !important;
            margin-right: -30px;
         }
      }

      // Evo Post Style
      // ======================================================================== /
      .evo_post {

         // Post Image with full content
         // ======================================================================== /
         .evo_post_images {
            display: block;
            margin-bottom: 25px;

            img {
               border-radius: 0;
            }

            .evo_image_block {
               margin-top: -25px;
               margin-left: -30px;
               margin-right: -30px;
            }

         }


         // Evo Post Full
         // ======================================================================== /
         .evo_post__full {

            .evo_post_images {
               margin-bottom: 0;
            }

            .evo_image_block {
               margin: 0 auto;
            }
         }

      }

   }

}
