// Style for Disp Posts
// ======================================================================== /
.disp_posts {

   #content {

      // Evo Post Style
      // ======================================================================== /
      .evo_post {

         // Post Image with full content
         // ======================================================================== /
         .evo_post_images {
            display: block;
            margin-bottom: 25px;

            img {
               border-radius: 0;
            }

            .evo_image_block {
               margin-top: -25px;
               margin-left: -30px;
               margin-right: -30px;
            }

         }

      }

   }

}
