/* ----------------------------------------------------------------------------
 * Footer Styling
 * -------------------------------------------------------------------------- */
#main-footer{
   margin-top: 50px;

   .main_widget {
      padding: 3rem 0 4rem;
      background-color: @bg_footer;
      color: @w;

      font-size: 1.3rem;
      font-weight: 300;
      letter-spacing: 0.3px;

      a {
         color: @w;

         &:hover, &:active, &:focus {
            color: @primary;
         }
      }

      // Title Widget
      // ======================================================================== /
      .title_widget {
         position: relative;
         display: table;
         font-family: @font_heading;
         font-size: 1.5rem;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 0;
         margin-bottom: 3.5rem;

         &::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 35%;
            height: 2px;
            background-color: @w;
         }
      }

      ul{

         li {
            border-bottom: 1px solid @border_footer;
         }

         & > ul > li:last-child {
            border-bottom: 1px solid @border_footer;
         }

      }

   }

   // Footer Social media
   // ======================================================================== /
   .footer_social_media {
      padding: 4rem 0;
      background-color: @bg_sm;
      border-top: 1px solid @border_footer;

      .ufld_icon_links {
         text-align: left;

         a {
            border-radius: 2px;
            background-color: transparent;
            width: 55px;
            height: 50px;
            margin-right: 4px;
            opacity: 0.3;
            
            &:hover, &:active, &:focus {
               text-decoration: none;
               color: @w;
               background-color: @primary;
               opacity: 1;
            }

            span {
               line-height: 50px;
            }
         }
      }
   }

   // Copyrught
   // ======================================================================== /
   .copyright {
      padding: 4rem 0;
      font-family: @font_heading;
      font-size: 1.3rem;
      color: @w;
      border-top: 1px solid @border_footer;

      .copyright_text {
         float: left;
         opacity: 0.95;
         margin-bottom: 0;

         a {
            text-decoration: none;

            &:hover, &:active, &:focus {
               text-decoration: underline;
               opacity: 1;
            }
         }
      }

      .back_top {
         float: right;
         text-transform: uppercase;
         color: @w;
      }

   }

}
