// ========================================================================
// Google Font Inport
// ======================================================================== /
@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ----------------------------------------------------------------------------
 * Global Style
 * -------------------------------------------------------------------------- */
html, body{
   font-size: 10px;
}

body{
   font: normal 1.5rem/1.5 @font_body;
}


a {
   color: @primary;

   &:hover, &:active, &:focus {
      text-decoration: underline;
      color: @primary;
   }
}
