// ========================================================================
// Google Font Inport
// ======================================================================== /
@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ----------------------------------------------------------------------------
 * Global Style
 * -------------------------------------------------------------------------- */
html, body{
   font-size: 10px;

   @media screen and ( max-width: @M ) {
      font-size: 9.5px;
   }

   @media screen and ( max-width: @S ) {
      font-size: 9px;
   }

}

body{
   font: normal 1.5rem/1.5 @font_body;
}


a {
   color: @primary;

   &:hover, &:active, &:focus {
      text-decoration: underline;
      color: @primary;
   }
}

// Typograpy
// ======================================================================== /
h1, h2, h3, h4, h5, h6 {
   font-family: @font_heading;
   font-weight: 700;
   letter-spacing: 0;
}

p {
   margin: 0 0 1.5rem;
}

ul, ol {
   margin: 0 0 1.5rem 2.5rem;

   & ul {
      margin-bottom: 0;
   }

   li {
      padding: 4px 0;

      p {
         margin-bottom: 5px;
      }

   }

}

pre {
   border-radius: 3px;
   padding: 1.5rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   background-color: @cf7;
   border-color: @cd;
}

blockquote {
   margin: 1.5rem 0;
   font-size: 1.8rem;
   line-height: 1.3;
   font-style: italic;

   p {
      margin-bottom: 0;
   }
}

img {
   max-width: 100%;
}
