// Import the Asset for Disp Style
// ======================================================================== /
@import "assets/css/disp/disp_404";
@import "assets/css/disp/disp_comments";
@import "assets/css/disp/disp_contact";
@import "assets/css/disp/disp_front";
@import "assets/css/disp/disp_help";
@import "assets/css/disp/disp_mediaidx";
@import "assets/css/disp/disp_posts";
@import "assets/css/disp/disp_search";
@import "assets/css/disp/disp_single";
@import "assets/css/disp/disp_sitemap";
@import "assets/css/disp/disp_tags";
@import "assets/css/disp/disp_user";

// Filter
// ======================================================================== /
.filters {

   input {
      font-size: 1.4rem;
   }

   button.btn {

      &:focus, &:hover, &:active {
         outline: none;
         // box-shadow: none;
      }
   }

   .btn-info {
      background-color: @primary;
      border-color: @primary;

      &:hover {
         background-color: @c5;
         border-color: @c5;
      }
   }

}
