// ======================================================================== /
// Disp Tags
// ======================================================================== /
.disp_tags {

   .tag_cloud {
      display: inline-block;
      margin-bottom: 0;
   }

}

// ======================================================================== /
// Disp Help
// ======================================================================== /
.disp_help {
   #main-content {
      background-color: @w;
      box-shadow: @box-shadow;
      padding: 1rem 3rem 1rem;
   }
}

// ======================================================================== /
// Disp Search
// ======================================================================== /
.disp_search {

   #main-content {
      padding: 3rem;
      background-color: @w;
      box-shadow: @box-shadow;

      @media screen and ( max-width: @S ) {
         padding: 3rem 2rem 2rem;
      }

      // Title Head Post
      // ======================================================================== /
      .title_head_post {
         text-align: center;
         margin-bottom: 2rem;
         padding: 0;
         box-shadow: none;
      }

      // Evo Widget
      // ======================================================================== /
      .evo_widget {
         padding: 0 0 2rem;
         box-shadow: none;
         border-bottom: 1px solid @color_border;
      }

      // Message Nothing
      // ======================================================================== /
      .msg_nothing {
         color: @color_content;
         font-size: 1.8rem;
         text-align: center;
         border: 0;
         box-shadow: none;
      }

      // Search Result
      // ======================================================================== /
      .search_result {
         padding: 5rem 0;
         background-color: @w;
         border-bottom: 1px solid @color_border;

         &:last-child {
            border-bottom: none;
            padding-bottom: 2rem;
            margin-bottom: 0;
         }

         // Search Result
         // ======================================================================== /
         .search_result_score.dimmed {
            position: relative;
            width: 55px;
            height: 55px;
            line-height: 55px;
            border-radius: 2px;
            color: @primary;
            font-family: @font_heading;
            font-weight: 700;
            letter-spacing: 0.5px;
            border: 1px solid @primary;
            text-align: center;
            z-index: 1;
            transition: all 0.3s ease-in-out;

            @media screen and ( max-width: @S ) {
               width: 45px;
               height: 45px;
               line-height: 45px;
               font-size: 90%;
            }

            @media screen and ( max-width: @XS ) {
               width: 100%;
               margin: 0 auto 2rem;
            }

            &::after {
               content: '';
               position: absolute;
               left: 0;
               bottom: 0;
               width: 100%;
               height: 0;
               background-color: @primary;
               z-index: -1;

               transition: all 0.3s ease-in-out;

               @media screen and ( max-width: @XS ) {
                  width: 0;
                  height: 100%;
               }
            }
         }

         &:hover {

            .search_result_score {
               color: @w;
               transition: all 0.6s ease-in-out;
               box-shadow: @box-shadow;

               &::after {
                  height: 100%;
                  transition: all 0.6s ease-in-out;

                  @media screen and ( max-width: @XS ) {
                     width: 100%;
                  }
               }
            }

         }

         // Search Content Wrap
         // ======================================================================== /
         .search_content_wrap {
            margin-left: 80px;

            @media screen and ( max-width: @S ) {
               margin-left: 65px;
            }

            @media screen and ( max-width: @XS ) {
               margin-left: 0;
            }

            .search_title {
               font-family: @font_heading;
               font-size: 2.4rem;
               line-height: 2.4rem;
               font-weight: 700;

               a {
                  color: @c5;
                  text-decoration: none;

                  &:hover, &:active, &:focus {
                     color: @primary;
                     text-decoration: underline;
                  }
               }
            }

            .result_content {
               color: @color_content;
               margin-top: 1rem;
               margin-bottom: 1.5rem;
            }

            .search_info {
               font-family: @font_heading;

               img {
                  border-radius: 100%;
               }
            }

         }

      }

      // Pagination
      // ======================================================================== /
      .pagination {
         margin-top: 3rem;
         margin-bottom: 0;
      }

   }

}


// ======================================================================== /
// Disp Sitemap
// ======================================================================== /
.disp_sitemap {

   #main-content {

      h3 {
         background-color: @w;
         padding: 3rem 3rem 0;
         margin-bottom: -2rem;
      }

   }

}


// ======================================================================== /
// Disp Thread
// ======================================================================== /
.disp_threads,
.disp_messages,
.disp_contacts {

   #main-content {
      padding: 30px;
      background-color: @w;
      box-shadow: @box-shadow;
      margin-bottom: 30px;

      @media screen and ( max-width: @S ) {
         padding: 20px;
      }

      // Title Head Post
      // ======================================================================== /
      .title_head_post {
         padding: 0 0 20px;
         margin-bottom: 0;
         box-shadow: none;
      }

      // Results
      // ======================================================================== /
      .results {
         // padding: 0 20px 20px;
         border-radius: 0;
         background-color: @w;
         margin-bottom: 0;
         box-shadow: none;

         .fieldset_title {
            padding: 15px 10px;
            background-color: @cf7;
         }

         input {
            box-shadow: none;
            border-radius: 2px;
            font-size: 1.4rem;

            &:focus {
               border-color: @primary;
            }
         }

         .action_icon {
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 2px;
            margin: -11px 0 0 8px;

            &.btn-primary {
               background-color: @primary;
               border-color: @primary;
            }

            .fa {
               padding-right: 3px;
            }
         }


         // Table Content
         // ======================================================================== /
         .table_scroll {

            th {
               font-family: @font_heading;
               font-size: 1.3rem;

               span {
                  color: @c5;
               }
            }

            th, td {
               padding: 8px;
            }

            .firstcol {

               img {
                  border-radius: 100%;
               }

               .nowrap {
                  white-space: normal;
               }
            }

            .thread_subject {
               .fa {
                  padding-right: 5px;
               }
            }

            .shrinkwrap {
               font-family: @font_heading;
               color: @c5;
            }

         }

      }

      // Form Thread
      // ======================================================================== /
      .evo_form__thread {
         padding: 30px;
         background-color: @w;
         box-shadow: none;
         border: 1px solid @cd;

         @media screen and ( max-width: @S ) {
            padding: 10px;
         }

         label {
            font-family: @font_heading;
            color: @c5;
         }

         input, textarea {
            border-radius: 0;
            box-shadow: none;
            font-family: @font_body;
            border-color: @cd;

            &:focus {
               border-color: @primary;
            }
         }

         .token-input-list-facebook {
            box-shadow: none;
            border-radius: 0;
            border-color: @cd;

            li {
               font-family: @font_body;
            }

            input {
               &:active, &:active, &:focus {
                  border-color: @primary;
               }
            }

         }

      }

      .SaveButton{
         font-family: @font_heading !important;
         font-size: 1.2rem;
         border-radius: 2px;
         padding: 10px 15px;

         &.btn-primary {
            background-color: @primary;
            border: 1px solid @primary;
         }

         &.btn-info {
            background-color: @c7;
            border-color: @c7;
         }

         &:focus, &:active {
            outline: none;
         }

      }

   }

}


// Filter
// ======================================================================== /
.filters {

   input {
      font-size: 1.4rem;
   }

   button.btn {

      &:focus, &:hover, &:active {
         outline: none;
         // box-shadow: none;
      }
   }

   .btn-info {
      background-color: @primary;
      border-color: @primary;

      &:hover {
         background-color: @c5;
         border-color: @c5;
      }
   }

}

// ======================================================================== /
// Disp Message
// ======================================================================== /
.disp_messages {

   #main-content {

      .messages_navigation {
         font-size: 1.4rem;
         margin-bottom: 2rem;
         border: 1px solid @color_border;
         padding: 10px 15px;
      }

      .evo_private_messages_list {

         & > h2 {
            font-size: 2.6rem;
            margin-bottom: 20px;
         }
      }

      .panel {
         border-radius: 0;
         border-color: @cd;

         .panel-heading {
            img {
               border-radius: 100%;
            }
         }

         .panel-body{

            label {
               font-family: @font_heading;
               color: @c5;
            }

            input, textarea {
               border-radius: 2px;
               box-shadow: none;

               &:focus, &:active {
                  border-color: @primary;

               }
            }
         }
      }

      .avatar_rounded {
         background-color: transparent;
         border: 0;
         width: 70px;
      }

      // Messages List Actions
      // ======================================================================== /
      .messages_list_actions {
         margin-bottom: 20px;
         a {

            &:hover, &:active, &:focus {
               color: @w;
               background-color: @primary;
               border-color: @primary;
            }
         }
      }

   }

}


// ======================================================================== /
// Disp Contacts
// ======================================================================== /
.disp_contacts {

   .form_send_contacts {
      margin-top: 20px;

      .btn-default {

         &:hover, &:active, &:focus {
            color: @w;
            background-color: @primary;
            border-color: @primary;
         }
      }
   }


   input.SaveButton {
      padding: 5px 10px !important;
   }

}
