/* ----------------------------------------------------------------------------
 * Main Header Style
 * -------------------------------------------------------------------------- */
#main-header{
   padding: 35px 0;
   margin-top: -16px;
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);

   @media screen and ( max-width: @MM) and ( min-width: @M ) {
      text-align: center;
      padding: 25px 0 20px;
   }

}

.evo_container__header {
	// margin-bottom: 15px;

   // Widget Coll Title
   // ======================================================================== /
   .widget_core_coll_title{
      h1{
         margin-top: 0;
         margin-bottom: 0;

         a{
            font-family: @font_title_site;
            font-size: 5.2rem;
            // font-weight: 700;
            letter-spacing: 0px;
            color: @w;

            &:hover, &:active, &:focus{
               text-decoration: none;
            }
         }
      }
   }

   .widget_core_coll_tagline{
      margin-top: 8px;
      font-size: 1.5rem;
      // font-style: italic;
      font-family: @font_body;
      font-weight: 300;
      line-height: 1;
      color: @w;
   }

}

.evo_container__page_top {
	margin-top: 20px;

   .ufld_icon_links {
		text-align: center;
	}

}

// Navbar Style
// ======================================================================== /
.navbar-header{
   height: 60px;

   .navbar-toggle{
      margin-top: 15px;
      border-color: @w;
      border-radius: 0;

      @media screen and ( max-width: @M ) {
         margin-right: -15px;
      }
   }

   .icon-bar{
      background-color: @w;
   }

}

#hamburger-menu{
   display: none;
   @media screen and ( max-width: @MF ){
      display: block;
   }
}

.navbar-collapse{

   @media screen and ( max-width: @MM ) {
      margin-top: 10px;
   }

   @media screen and ( max-width: @M ) {
      padding-top: 15px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 15px;
   }

   .nav.nav-tabs {
   	margin: 0;
      float: right;
      border-bottom: none;

      @media screen and ( max-width: @MM ) and ( min-width: @M ) {
         display: inline-block;
         float: none;
         text-align: center;
         margin: 0 auto;
      }

      li{
         padding: 0;

         a{
            position: relative;
            font-family: @font_body;
            font-size: 1.3rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: @w;
            border: none;
            padding: 12px 14px;
            margin: 10px 1px;
            z-index: 0;
            // opacity: 0.85;

            &::after {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 0;
               background-color: @primary;
               z-index: -1;
               transition: all 0.2s ease-in-out;
            }

            &:hover, &:active, &:focus{
               background-color: transparent;
               border-color: transparent;
               opacity: 1;

               &::after {
                  height: 100%;
               }
            }

            &.selected{
               background: transparent;
               border: 0;
               opacity: 1;
               cursor: pointer;

               &::after {
                  height: 100%;
               }
            }
         }
      }

      @media screen and ( max-width: @MF ) {
         float: none;

         & > li {
            float: none;
            margin: 0;
            width: 100%;
         }

         li {
            display: block;

            a{
               padding: 10px 0;
            }
         }
      }

   }

}
