// ========================================================================
// Variable
// ======================================================================== /
@font_title_site: "Montez", Verdana, Geneva, sans-serif;
@font_body: "Open Sans", sans-serif;
@font_heading: "Oswald", sans-serif;

// Layout - Breakpoints
// ======================================================================== /
@XS:   320px;
@S:    480px;
@MX:   600px;
@M:    768px;
@MM:   991px;
@ML:   1025px;
@L:    1170px;


// Color Variable
// ======================================================================== /
@w:             #FFFFFF;
@primary:       #1abc9c;
@color_border:  #EEEEEE;
