// ========================================================================
// Variable
// ======================================================================== /
@font_title_site: "Montez", Verdana, Geneva, sans-serif;
@font_heading: "Montserrat", sans-serif;
@font_body: "Lato", sans-serif;

// Layout - Breakpoints
// ======================================================================== /
@XS:   320px;
@S:    480px;
@MX:   601px;
@MF:   767px;
@M:    768px;
@MM:   991px;
@ML:   1025px;
@L:    1170px;


// Color Variable
// ======================================================================== /
@primary:       #1ABC9C;

@bg_footer:     #262626;
@bg_sm:         #212121;

@color_content: #6F6F6F;
@color_border:  #EEEEEE;
@box-shadow: 1px 2px 4px rgba(35, 35, 35, 0.12);
@border_footer: #3C3C3C;

@e:             #EEEEEE;
@w:             #FFFFFF;
@cf7:           #F7F7F7;
@cc5:           #C5C5C5;
@cd:            #DDDDDD;
@ca9:           #A9A9A9;
@c7:            #777777;
@c5:            #555555;
@c4:            #444444;
@c3:            #333333;


// Tags
@tag_bg:        @c3;
@tag_col:       @w;

@btn_warning:   #F0AD4E;
@btn_danger:    #D9534F;
@btn_info:      #5bc0de;

// User Link
@yahooim:       #7b0099;
@skype:         #00aff0;
@twitter:       #00aced;
@facebook:      #3b5998;
@google:        #dd4b39;
@linkedin:      #007bb6;
@github:        @c3;
@flickr:        #ff0084;
@youtube:       #b00;
@dig:           #356aa0;
@stumbleupon:   #eb4924;
@pinterest:     #cb2027;
