// ======================================================================== /
// General Style Wisget
// ======================================================================== /
.evo_widget {

    // List Style
    // ======================================================================== /
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;

        & ul {
            margin: 0;
        }

        li{
            padding: 10px 0;
        }

        & > li:last-child{
            border-bottom: 0;
        }

    }

    a {
        transition: all 0.2s ease;
        font-style: normal;

        &:hover, &:active, &:focus {
            color: @primary;
        }
    }

    // .avatar {
    //    border-radius: 100%;
    // }

}


// ======================================================================== /
// Head Tagline Style
// ======================================================================== /
#head_tagline{
    padding: 50px 0;
    border-top: 1px solid #4C4C4C;

    .widget_core_coll_tagline{
        font-family: @font_body;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 1;
    }

}


// ======================================================================== /
// User Links
// ======================================================================== /
.widget_core_user_links,
.widget_core_org_members {

    a {
        color: @w;

        &:hover, &:active, &:focus {
            color: @w;
            text-decoration: none;
        }
    }

    .ufld_yahooim.ufld__hovertextcolor:hover,
    .ufld_yahooim.ufld__textcolor {
        color: @yahooim;
    }
    .ufld_yahooim.ufld__bgcolor,
    .ufld_yahooim.ufld__hoverbgcolor:hover {
        background-color: @yahooim !important;
    }

    .ufld_skype.ufld__hovertextcolor:hover,
    .ufld_skype.ufld__textcolor {
        color: @skype;
    }
    .ufld_skype.ufld__bgcolor,
    .ufld_skype.ufld__hoverbgcolor:hover {
        background-color: @skype;
    }

    .ufld_twitter.ufld__hovertextcolor:hover,
    .ufld_twitter.ufld__textcolor {
        color: @twitter;
    }
    .ufld_twitter.ufld__bgcolor,
    .ufld_twitter.ufld__hoverbgcolor:hover {
        background-color: @twitter !important;
    }

    .ufld_facebook.ufld__hovertextcolor:hover,
    .ufld_facebook.ufld__textcolor {
        color: @facebook;
    }
    .ufld_facebook.ufld__bgcolor,
    .ufld_facebook.ufld__hoverbgcolor:hover {
        background-color: @facebook !important;
    }

    .ufld_googleplus.ufld__hovertextcolor:hover,
    .ufld_googleplus.ufld__textcolor {
        color: @google;
    }
    .ufld_googleplus.ufld__bgcolor,
    .ufld_googleplus.ufld__hoverbgcolor:hover {
        background-color: @google !important;
    }

    .ufld_linkedin.ufld__hovertextcolor:hover,
    .ufld_linkedin.ufld__textcolor {
        color: @linkedin;
    }
    .ufld_linkedin.ufld__bgcolor,
    .ufld_linkedin.ufld__hoverbgcolor:hover {
        background-color: @linkedin !important;
    }

    .ufld_github.ufld__hovertextcolor:hover,
    .ufld_github.ufld__textcolor {
        color: @github;
    }
    .ufld_github.ufld__bgcolor,
    .ufld_github.ufld__hoverbgcolor:hover {
        background-color: @github !important;
    }

    .ufld_flickr.ufld__hovertextcolor:hover,
    .ufld_flickr.ufld__textcolor {
        color: @flickr;
    }
    .ufld_flickr.ufld__bgcolor,
    .ufld_flickr.ufld__hoverbgcolor:hover {
        background-color: @flickr !important;
    }

    .ufld_youtube.ufld__hovertextcolor:hover,
    .ufld_youtube.ufld__textcolor {
        color: @youtube;
    }
    .ufld_youtube.ufld__bgcolor,
    .ufld_youtube.ufld__hoverbgcolor:hover {
        background-color: @youtube !important;
    }

    .ufld_digg.ufld__hovertextcolor:hover,
    .ufld_digg.ufld__textcolor {
        color: @dig;
    }
    .ufld_digg.ufld__bgcolor,
    .ufld_digg.ufld__hoverbgcolor:hover {
        background-color: @dig !important;
    }

    .ufld_stumbleupon.ufld__hovertextcolor:hover,
    .ufld_stumbleupon.ufld__textcolor {
        color: @stumbleupon;
    }
    .ufld_stumbleupon.ufld__bgcolor,
    .ufld_stumbleupon.ufld__hoverbgcolor:hover {
        background-color: @stumbleupon !important;
    }

    .ufld_pinterest.ufld__hovertextcolor:hover,
    .ufld_pinterest.ufld__textcolor {
        color: @pinterest;
    }
    .ufld_pinterest.ufld__bgcolor,
    .ufld_pinterest.ufld__hoverbgcolor:hover {
        background-color: @pinterest !important;
    }
}


// ======================================================================== /
// Icon Link
// ======================================================================== /
.ufld_icon_links {

    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

}


// ======================================================================== /
// Hover Style
// ======================================================================== /
.widget_core_user_avatars,
.widget_core_coll_avatar,
.widget_flow_blocks > div {
    // width: 100%;

    img {
        border-radius: 0;
        box-shadow: @box-shadow;
    }

    a {
        position: relative;
        display: block;
        overflow: hidden;

        &::before , &::after {
            visibility: hidden;
            opacity: 0;
            transform: rotate(60deg);
            transition: all 0.32s ease-in-out;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // border-radius: 2px;
            background-color: rgba(0, 0, 0, 0.65);;
        }

        &::after {
            content: "\f03e";
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            color: @w;

            display: inline-block;
            font-family: FontAwesome;
            font-size: 2.2rem;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &:hover {
            &::before, &::after {
                transform: rotate(0);
                visibility: visible;
                opacity: 1;
            }
        }
    }

}


// ======================================================================== /
// Widget Image Avatar
// ======================================================================== /
.widget_core_coll_avatar {

    .panel-body {
        display: inline-block;
    }

}


// ======================================================================== /
// User Avatars
// ======================================================================== /
.widget_core_user_avatars {

    .widget_flow_blocks {
        padding-bottom: 15px;

        div {
            display: inline-flex;
            // margin: 3px;

            a {
                &::after {
                    font-size: 1.8rem;
                    top: 35%;
                }
            }
        }
    }

    .popover {
        display: none !important;
    }

}


// ======================================================================== /
// Tag Cloud
// ======================================================================== /
.tag_cloud {
    a {
        display: inline-block;
        float: left;
        padding: 6px 11px;
        margin: 2px;
        font-family: @font_heading;
        font-size: 1.2rem !important;
        font-weight: 400;
        text-transform: capitalize;
        // border-radius: 3px;
        color: @tag_col;
        background-color: @tag_bg;

        &:hover, &:active, &:focus {
            text-decoration: none;
            color: @w;
            background-color: @primary;
        }

        &::before {
            content: '\f02b \00a0 ';
            font-family: FontAwesome;
            opacity: 0.85;
            padding-right: 2px;
        }
    }
}


// ======================================================================== /
// Widget Plugin Calendar
// ======================================================================== /
.widget_plugin_evo_Calr {

    .bCalendarTable {
        font-size: 95%;
        margin-bottom: 0;
        margin-top: 0;

        @media screen and ( max-width: @L )
        and ( min-width: @MM ) {
            font-size: 78%;
        }

        @media screen and ( max-width: @XS ) {
            font-size: 88%;
        }

        .bCalendarRow, thead, tfoot, tbody {
            background-color: @bg_footer;
            color: @w;
        }

        caption {
            background-color: @bg_sm;
            font-family: @font_heading;
            text-transform: uppercase;
            padding: 10px;
            border: 1px solid @border_footer;
            border-bottom: 0;

            a {
                color: @w;
            }
        }

        th, td {
            width: 8ex;
            padding: 4px 6px;
            text-align: center;
            font-family: @font_heading;
            border-left: 1px solid @border_footer;
            border-top: 1px solid @border_footer;

            @media screen and ( max-width: @XS ) {
                padding: 3px 6px;
            }

            &:last-child {
                border-right: 1px solid @border_footer;
            }
        }

        thead {
            th {
                font-size: 85%;
                color: @w;
                text-transform: uppercase;
                padding: 8px 6px;

                @media screen and ( max-width: @XS ) {
                    font-size: 80%;
                }
            }
        }

        tbody {
            tr:nth-child( odd ) {
                background-color: @bg_sm;
            }
        }

        tfoot {

            tr {
                background-color: @bg_sm;
            }

            td {
                border-top: 1px solid @border_footer;
                border-bottom: 1px solid @border_footer;
            }
        }

        #bCalendarToday {
            background-color: @primary;
            color: @w;
            border: 0;
            border-radius: 0;

            a {
                color: @w;
            }
        }

        tfoot {
            a {
                color: @w;

                &:hover {
                    color: @primary;
                }
            }
        }

    }

}


// ======================================================================== /
// Title
// ======================================================================== /
.widget_core_user_login,
.widget_core_user_register {

    .fieldset {
        .panel.panel-default {
            background-color: transparent;
        }
    }

    .submit {

        &:hover {
            background-color: @primary;
            color: @w;
            border-color: @primary;
            box-shadow: none;
            outline: 0;
        }
    }

}


// ======================================================================== /
// WIdget XML Feeds
// ======================================================================== /
.widget_core_coll_xml_feeds {
    .notes {
        border-top: 1px solid @color_border;
        padding-top: 10px;
    }
}


// ======================================================================== /
// Widget User Login
// ======================================================================== /
.widget_core_user_login {
    .avatar {
        border-radius: 100%;
    }
}


// ======================================================================== /
// Title
// ======================================================================== /
.widget_core_coll_comment_list {
    li {
        a {
            &:hover {
                background-color: transparent !important;
            }
        }
    }
}


// ======================================================================== /
// Register widget form
// ======================================================================== /
.widget_core_user_register {
    #register_form {

        .form-group {
            margin: 0;
        }

        label {
            text-align: left;
            width: 160px;
            padding-left: 0;
        }

        .controls {
            padding: 0;
            width: 100%;
        }

        .form_text_input.form-control {
            width: 100%;
        }

    }

    .submit {
        font-size: 12px;
    }

    .field_register_btn {
        .panel {
            margin: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;

            .panel-body {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;

                #submit_login_form {
                    margin-right: 10px;
                }
            }

        }

    }

}


// ======================================================================== /
// Login Widget Form
// ======================================================================== /
.widget_core_user_login {

    #login_form {

        .form-group {
            margin: 0;
        }

        label {
            text-align: left;
            width: 160px;
            padding-left: 0;
        }

        .controls {
            padding: 0;
            width: 100%;
        }

        .form_text_input.form-control {
            width: 100%;
        }

    }

    .submit {
        font-size: 12px;
    }

    .field_login_btn {
        .panel {
            margin: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;

            .panel-body {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;

                #submit_login_form {
                    margin-right: 10px;
                }

            }

        }

    }

    .register_link {
        display: block;
        padding-top: 10px;
    }

}


// ======================================================================== /
// Widget Search Form
// ======================================================================== /
.widget_core_coll_search_form {

    .search {

        .search_field, .search_submit {
            padding: 10px 20px;
            height: 40px;
            border-radius: 0;
            box-shadow: none;
            outline: 0;
        }

        .search_field {
            padding-left: 15px;
            padding-right: 15px;
            border-color: @primary;
        }

        .search_submit {
            font-family: @font_heading;
            background-color: @primary;
            border-color: @primary;
            margin-left: -1px;
            outline-offset: 0;
        }

    }

}

input.search_field {
    margin-bottom: 0;
    display: inline-block;
}

form.search .search_options {
    width: 100%;
    .search_option input {
        margin-right: 5px;
    }
    .search_option label {
        margin-bottom: 0;
        margin-top: 5px;
    }
}

div.compact_search_form {
    input.search_field {
        width: 100%;
        margin: 0;
    }
}

div.extended_search_form {
    text-align: center;
    margin: 0 auto 2em auto;
    max-width: 530px;
    .search_options {
        text-align: center;
        .search_option {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

// Table for select categories of item
table.catselect {
    input#new_category_name {
        width: 98% !important;
    }
}

// Form elements on item edit page
label.control-label[for=post_title] {
    width: auto;
}

// A form to create a new message/thread
textarea.message_text {
    width: 95%;
}


// ======================================================================== /
// Widget Media Index
// ======================================================================== /
.widget_core_coll_media_index {

    .widget_flow_blocks {

        & > div{
            max-width: 100%;
            margin: 2px;

            a {

                &::before {
                    background-color: rgba(0, 0, 0, 0.75);
                }

                &::after {
                    content: "\f1d8";
                    top: 35%;
                    font-size: 1.7rem;
                }

            }

        }

    }

}


// ======================================================================== /
// Orgainze Member
// ======================================================================== /
.widget_core_org_members {
    .col-lg-4 {
        display: block;
        width: 100%;
        float: none;

        img {
            width: 120px;
            height: 120px;
        }
    }

    .user_link {
        color: @c5;

        h3 {
            font-family: @font_heading;
            font-size: 1.8rem;
            font-weight: 700;
        }

        &:hover {
            color: @primary;
        }
    }

    .ufld_icon_links {
        margin-bottom: 10px;
    }

}


// Border Bottom on Linst Widget
// ======================================================================== /
.widget_core_linkblog,
.widget_core_content_hierarchy {

    ul > ul > li:last-child {
        border: none !important;
    }

    ul ul {
        border-bottom: 1px solid @color_border;

        &:last-child {
            border-bottom: none;
        }
    }

}
